<a href="https://colab.research.google.com/github/sabatabassum777/AIML_BOOTCAMP/blob/main/Assignment_1_BOOT_CAMP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Implement the methods of String with examples

In [245]:
str="Hello Bob"
print(str)
#indexing
print(str[0:8])
print(str[0])
print(str[1:6])
#slice operator
print(str[:]) # prints complete string-way1
print(str[0:]) #-way2
print(str[5:])
print(str[3:7])
print(str[-8:-2])
print(str[0:8:3])# alternate elements
# reverse a string using slice operator
print(str[::-1])
# string operations
str1="SR"
str2="UNIVERSITY"
print(str1+str2)
str3=str1*2
print(str3)
# string methods
str4="Getting Started With Python"
print(str4.upper())#converts to uppercase
print(str4.lower())#converts to lower case
print(str4.title())#converts first letter of each word
print(str4.capitalize())#Converts to capitals
print(str4.swapcase())#converts upper to lower and vice versa
print(str4.endswith('n'))#check whether the string ends with letter
print(str4.startswith('G'))#checks whether the string begins with lettter
print(str4.count('t'))#counts the no of occurance of element
print(str4.isalpha())#returns true if all the characters are alphabets
print(str4.isnumeric())#returns true if all characters are numbers
print(str4.istitle())#returns true if matches to title()
str5="         welcome to python  "
print(str5.strip())
print(str5.lstrip())
print(str5.rstrip())
print(str5.split( ))
str6="saba@tabassum@585@sru"
print(str6.split('@'))

Hello Bob
Hello Bo
H
ello
Hello Bob
Hello Bob
 Bob
lo B
ello B
HlB
boB olleH
SRUNIVERSITY
SRSR
GETTING STARTED WITH PYTHON
getting started with python
Getting Started With Python
Getting started with python
gETTING sTARTED wITH pYTHON
True
True
6
False
False
True
welcome to python
welcome to python
         welcome to python
['welcome', 'to', 'python']
['saba', 'tabassum', '585', 'sru']

2. Implement the methods of List with examples.

In [246]:
#LIST
list1=[5,10,15,20,25,30,35,40,45,50]
list2=["apple","banana","cherry",4,5.0,30+4j]
list3=["P","R","O","G","R","A","M","M","I","N","G"]
#indexing
print(list1[1])
print(list2[2])
print(list3[5])
#slicing
print(list1[0:5])
print(list2[:])
print(list2[::-1])
print(list3[-1::-5])#prints from last living 5 indexes
print(list3[0:8:2])
#nested list
nlist=[[5,10,15],["apple","banana","cherry"],["P","R","O","G","R","A","M","M","I","N","G"]]
print(nlist[0][1])
print(nlist[1][2])
print(nlist[2][3])
print(nlist[2][1:4])
# list Methods
list4=[5,10]
list4.append(100)
print(list4)
list4.extend("cherry")
print(list4)
list4.insert(9,999)
print(list4)
print(list4.count('r'))
list5=list4.copy()
print(list5)
list4.reverse()
print(list4)
list6=["s","r","u"]
list6.sort()
print(list6)
list6.remove("u")
print(list6)
list6.pop()
print(list6)
list6.clear()
print(list6)

10
cherry
A
[5, 10, 15, 20, 25]
['apple', 'banana', 'cherry', 4, 5.0, (30+4j)]
[(30+4j), 5.0, 4, 'cherry', 'banana', 'apple']
['G', 'A', 'P']
['P', 'O', 'R', 'M']
10
cherry
G
['R', 'O', 'G']
[5, 10, 100]
[5, 10, 100, 'c', 'h', 'e', 'r', 'r', 'y']
[5, 10, 100, 'c', 'h', 'e', 'r', 'r', 'y', 999]
2
[5, 10, 100, 'c', 'h', 'e', 'r', 'r', 'y', 999]
[999, 'y', 'r', 'r', 'e', 'h', 'c', 100, 10, 5]
['r', 's', 'u']
['r', 's']
['r']
[]

3. Implement the methods of Tuple with examples.

In [247]:
tuple1=(10,20,30,40,50,60,70,80,90,100,10,20)
tuple2=("sru","cse","eee","mech","ece")
tuple3=(10,"sru",4.3,"cse")
#indexing
print(tuple1[4])
print(tuple2[2])
print(tuple3[2])
#slicing
print(tuple1[0:8])
print(tuple2[::-1])
print(tuple3[-3:-1])
# tuple methods
print(tuple1.count(10))
print(tuple1.index(10))
print(max(tuple1))
print(min(tuple1))
print(len(tuple3))

50
eee
4.3
(10, 20, 30, 40, 50, 60, 70, 80)
('ece', 'mech', 'eee', 'cse', 'sru')
('sru', 4.3)
2
0
100
10
4


4. Implement the methods of Dictionary with examples.

In [248]:
dict1={'name':'saba','branch':'cse','college':'sr university','pincode':506001}
print(dict1)
print(dict1['name'])
print(dict1.keys())
print(dict1.values())
print(dict1.get('pincode'))
dict2=dict1.copy()
print(dict2)
print(dict1.items())
dict1.update({'pincode':506009})
print(dict1)
dict1.pop('branch')
print(dict1)
dict1.popitem()
dict1.clear()
print(dict1)

{'name': 'saba', 'branch': 'cse', 'college': 'sr university', 'pincode': 506001}
saba
dict_keys(['name', 'branch', 'college', 'pincode'])
dict_values(['saba', 'cse', 'sr university', 506001])
506001
{'name': 'saba', 'branch': 'cse', 'college': 'sr university', 'pincode': 506001}
dict_items([('name', 'saba'), ('branch', 'cse'), ('college', 'sr university'), ('pincode', 506001)])
{'name': 'saba', 'branch': 'cse', 'college': 'sr university', 'pincode': 506009}
{'name': 'saba', 'college': 'sr university', 'pincode': 506009}
{}

 5. Implement the methods of Set with examples.

In [249]:
set1={2,4,6,8,10,12,14,16,18,20}
set2={2,4,6,"sru",(1,2,3)}
#set methods
set1.add(22)
print(set1)
set1.update([20,22,24])
print(set1)
set1.discard(24)
print(set1)
set1.remove(20)
print(set1)
set2=set1
print(set2)
print(set2.clear())
print(set2)
#set operations
a={1,2,3,4,5,6,7}
b={2,4,6,8,10}
print(a and b)
print(a or b)
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))
print(a.pop())

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 22}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 22}
None
set()
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 10}
{2, 4, 6}
{1, 3, 5, 7}
{8, 10}
1

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with 
direct method.

In [250]:
#Decimal to BInary
num=int(input('enter a number:'))
def decimalToBinary(num):
  if num>1:
      decimalToBinary(num//2)
  print(num%2,end=' ')
decimalToBinary(num)
print("\n")
#Decimal to Octal
num=int(input('enter a number:'))
def decimalToOctal(num):
  if num>1:
      decimalToOctal(num//8)
  print(num%8,end=' ')
decimalToOctal(num)
print("\n")
#Decimal to Hexadecimal
num=int(input('enter a number:'))
def decimalToHexa(num):
  if num>1:
      decimalToHexa(num//16)
  print(num%16,end=' ')
decimalToHexa(num)

enter a number:7
1 1 1

enter a number:344
0 5 3 0

enter a number:69
0 4 5

7. Implement Arithmetic operators with examples

In [251]:
a=5+10#addition
b=5-10#subtraction
c=5*10#multiplication
d=5/10#division
e=5%10#modulus
f=5**10#exponent
g=5//10#floor
print(a,b,c,d,e,f,g)

15 -5 50 0.5 5 9765625 0

8. Implement Assignment operators with examples.

In [252]:
#assignment operators
a=5
print(a)
a+=3
print(a)
a-=3
print(a)
a*=2
print(a)
a/=5
print(a)
a%=5
print(a)
a//=5
print(a)
b=2
b**=2
print(b)

5
8
5
10
2.0
2.0
0.0
4

9. Implement Comparison operators with examples

In [253]:
a=10
b=5
print(a==b)
print(a>b)
print(b>a)
print(a>=b)
print(a<=b)
print(b>=a)
print(b<=a)
print(a!=b)

False
True
False
True
False
False
True
True

10. Implement Logical operators with examples

In [265]:
a=True
b=False
c=True
print(a and b)
print((a and b) and ( b and c))
print((a and b) or ( b and c))
print((a or b) and ( b or c))
print(a or b)
print(not a)
a=5
b=3
print(a<10 and b<5)
print(a<10 or b<5)
print (not(a<10 or b<5))

False
False
False
True
True
False
True
True
False

11. Implement Bitwise operators with examples.

In [255]:
a=12
b=10
print(a&b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

8
14
-13
3
48

12. Implement Membership operators with examples.

In [256]:
x="PROGRAMMING"
y={1:"apple",2:"banana",3:"cherry"}
print('P' in x)
print('Z' not in x)
print(1 in y)
print("unicorn" in y)

True
True
True
False

13. Implement Identity operators with examples

In [257]:
x=["🥀","🌻","🌷"]
y=["🥀","🌻","🌠"]
print(x is y)
print (x is not y)

False
True

In [258]:
x=["⏰"]
y=["⭐"]
print(x is y)
print (x is not y)

False
True

14. Demonstrate Negative indexing for List and apply slicing.

In [259]:
#negative indexing
list1=[10,20,30,40,50]
print(list1[-1])
print(list1[-5])
#slicing
print(list1[-1::-1])
print(list1[-4:-2])
print(list1[::-1])
list2=[10,20,[5,1,2],[3,4,6,7],100]
print(list2[3][-1])
print(list2[2][::-1])
print(list2[3][1:3])
list3=[2,4,6,8,[3,5,7,11],[100,200,300,400]]
print(list3[1:3][::-1])

50
10
[50, 40, 30, 20, 10]
[20, 30]
[50, 40, 30, 20, 10]
7
[2, 1, 5]
[4, 6]
[6, 4]

15. Predict the output for the given code snippet and justify the result.

In [260]:
print('A series of characters designated as one subject know as a string'[::-1][4::3])
#justification
''' reverse of statement is   'gnirts a sa wonk tcejbus eno sa detangised sretcarahc fo seires A' 
and [4::3] takes index 4 and then leaves one letter and prints next
output:'taao eue  tgestrcoeeA'   '''
print("\n------------------------------------")
print('Welcome to python training program'[3:10][::-1])  
#justification
#index from 3 to 10  statement is come to and slicing[::-1] of it is output:ot emoc

taao eue  tgestrcoeeA

------------------------------------
ot emoc

16. Write a python code to get desired output

In [261]:
p_phrase="was it a car or a cat I saw"
print(p_phrase[::-1].upper())

WAS I TAC A RO RAC A TI SAW

17. You are required to generate a word similar to ZOO, X and Y that denote the number 
of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
 Input X= 2 Output ZZOOOO 
 Input X= 5 Output ZZZZZOOOOOOOOOO

In [262]:
word='ZOO'
X=int(input('Enter a number:'))
Y=2*X
print('Z'*X+'O'*Y)
#for input 2 --> ZZOOOO
#FOR INNPUT 5-->ZZZZZOOOOOOOOOO

Enter a number:5
ZZZZZOOOOOOOOOO