<a href="https://colab.research.google.com/github/sabatabassum777/AIML_BOOTCAMP/blob/main/Day2_AIML_BOOTCAMP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#if statement
var=100
if var>0:
  print("true")
  print(var)

var1=0
if var1>0:
  print("true")
  print(var)

#if else statement
var2=-1
if var2>0:
  print(var2)
else:
  print("false")
  print(var2)

In [6]:
#nested if
#bus tickets
age=int(input("enter age:"))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket implies")
  elif age==15:
    print("Quarter ticket+ discount")
  else:
    print("Half ticket")
elif age>=19 and age<=60:
  print("full ticket")
elif age>60:
  print("full ticket+discount")
else:
  print("no ticket")

enter age:99
full ticket+discount

In [7]:
#for loop
number=[1,2,3,4,5]
sum=0
for val in number:
  sum=sum+val
print("the sum is ",sum)
print("\n")

the sum is  15

In [9]:
#print 1 to 10
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [16]:
for i in range(1,11,2):#alternate numbers start end(n+1)
  print(i)

x=[2,3,4,5,6,7,8]
y=[]
for  a in x:
  if a%2==0:
    y.append(a)
print(y)
print("\n")
#using statement in for looop
digits=[0,1,5]
for i in digits:
  print(i)
else:
  print("no items")
print("\n")

for i in 'python':
  print("current word:",i)
print("\n")
#iterating by sequence indexing
fruit=['apple','banana','kiwi','pineapple']
for index in range(len(fruit)):
  print("current fruits:",fruit[index])

1
3
5
7
9
[2, 4, 6, 8]


0
1
5
no items


current word: p
current word: y
current word: t
current word: h
current word: o
current word: n


current fruits: apple
current fruits: banana
current fruits: kiwi
current fruits: pineapple

In [20]:
#while
count=0
while(count<11):
  print("the count is",count)
  count=count+1
print("\n")
count=0
while(count<5):
  print(count,"is less than 5")
  count=count+1

the count is 0
the count is 1
the count is 2
the count is 3
the count is 4
the count is 5
the count is 6
the count is 7
the count is 8
the count is 9
the count is 10


0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

In [ ]:
var=1#infinite loop
while var==1:
  num=int(input("enter a number:"))
  print("new num:",num)

In [ ]:
var=1#infinite loop
while(var<11):
  print("hello")

In [ ]:
flag=1
while(flag):
      print("hello world")

In [ ]:
x=[[1,2,3],[4,5,6],[3,2,1]]
y=[[1,2,3],[4,5,6],[3,2,1]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(y)):
    res[i][j]=x[i][j]*y[i][j]
for r in res:
  print(r)

[1, 4, 9]
[16, 25, 36]
[9, 4, 1]

In [ ]:
x=[[1,2,3],[4,5,6],[3,2,1]]
y=[[1,2,3],[4,5,6],[3,2,1]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(y)):
    res[i][j]=x[i][j]-y[i][j]
for r in res:
  print(r)

[0, 0, 0]
[0, 0, 0]
[0, 0, 0]

In [ ]:
x=[[1,2,3],[4,5,6],[3,2,1]]
y=[[1,2,3],[4,5,6],[3,2,1]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(y)):
    res[i][j]=x[i][j]*y[i][j]
for i in range(len(x)):
  for j in range(len(y)):
    res[i][j]=res[j][i]
for p in res:
  print(p)

[1, 16, 9]
[16, 25, 4]
[9, 4, 1]

In [ ]:
num=int(input('enter till the table you want:'))
i=1
while(i<=num):
  print(f"table  {i}")
  j=1
  while(j<=num):
      print(f" {i} *{j} = {i*j} " )
      j=j+1
  print("---------------------")
  i=i+1

enter a number:10
table  1
 1 *1 = 1
 1 *2 = 2
 1 *3 = 3
 1 *4 = 4
 1 *5 = 5
 1 *6 = 6
 1 *7 = 7
 1 *8 = 8
 1 *9 = 9
 1 *10 = 10
---------------------
table  2
 2 *1 = 2
 2 *2 = 4
 2 *3 = 6
 2 *4 = 8
 2 *5 = 10
 2 *6 = 12
 2 *7 = 14
 2 *8 = 16
 2 *9 = 18
 2 *10 = 20
---------------------
table  3
 3 *1 = 3
 3 *2 = 6
 3 *3 = 9
 3 *4 = 12
 3 *5 = 15
 3 *6 = 18
 3 *7 = 21
 3 *8 = 24
 3 *9 = 27
 3 *10 = 30
---------------------
table  4
 4 *1 = 4
 4 *2 = 8
 4 *3 = 12
 4 *4 = 16
 4 *5 = 20
 4 *6 = 24
 4 *7 = 28
 4 *8 = 32
 4 *9 = 36
 4 *10 = 40
---------------------
table  5
 5 *1 = 5
 5 *2 = 10
 5 *3 = 15
 5 *4 = 20
 5 *5 = 25
 5 *6 = 30
 5 *7 = 35
 5 *8 = 40
 5 *9 = 45
 5 *10 = 50
---------------------
table  6
 6 *1 = 6
 6 *2 = 12
 6 *3 = 18
 6 *4 = 24
 6 *5 = 30
 6 *6 = 36
 6 *7 = 42
 6 *8 = 48
 6 *9 = 54
 6 *10 = 60
---------------------
table  7
 7 *1 = 7
 7 *2 = 14
 7 *3 = 21
 7 *4 = 28
 7 *5 = 35
 7 *6 = 42
 7 *7 = 49
 7 *8 = 56
 7 *9 = 63
 7 *10 = 70
---------------------
table  8
 8 *1 = 8
 8 *2 = 16
 8 *3 = 24
 8 *4 = 32
 8 *5 = 40
 8 *6 = 48
 8 *7 = 56
 8 *8 = 64
 8 *9 = 72
 8 *10 = 80
---------------------
table  9
 9 *1 = 9
 9 *2 = 18
 9 *3 = 27
 9 *4 = 36
 9 *5 = 45
 9 *6 = 54
 9 *7 = 63
 9 *8 = 72
 9 *9 = 81
 9 *10 = 90
---------------------
table  10
 10 *1 = 10
 10 *2 = 20
 10 *3 = 30
 10 *4 = 40
 10 *5 = 50
 10 *6 = 60
 10 *7 = 70
 10 *8 = 80
 10 *9 = 90
 10 *10 = 100
---------------------

In [ ]:
for l in 'python':
  if l=='t':
    pass
    print("this is a pass block")
  print(l)

num=10
while(num!=0):
  if(num<=5):
      break
  print(num)
  num=num-1

p
y
this is a pass block
t
h
o
n
10
9
8
7
6

In [32]:
#palindrome-way1
str1=input("enter a string:")
str2=str1[::-1]
if(str1==str2):
  print("Palindrome")
else:
  print("Not a Palindrome")

enter a string:madam
Palindrome

In [44]:
#palindrome number
num=int(input("enter a number:"))
temp=num
rev=0
while(num>0):
  n=num%10
  rev=rev*10+n
  num=num//10
if(temp==rev):
  print("Palindrome")
else:
  print("Not a palindrome")
print(temp)
print(rev)

enter a number:121
Palindrome
121
121

In [ ]:
str=input("enter a string:")#-way3
str2=reversed(str)
if list(str)==list(str2):
  print("Palindrome")
else:
  print("Not a Palindrome")

enter a string:madam
Palindrome

In [53]:
#control statements
for i in 'python':
  if i=='t':
    break
  print(i)
print("\n")
int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    continue
    print("\n")
int1=10
while(int1>0):
  print("current value:",int1)
  int1=int1-1
  if int1==5:
    pass
    print("this is a pass block")

p
y


current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1
current value: 10
current value: 9
current value: 8
current value: 7
current value: 6
this is a pass block
current value: 5
current value: 4
current value: 3
current value: 2
current value: 1

In [70]:
for i in range(1,101):
  str1=str(i)
  if(str1==str1[::-1]):
    print("palindrome numbers is :{}",i)

palindrome numbers is :{} 1
palindrome numbers is :{} 2
palindrome numbers is :{} 3
palindrome numbers is :{} 4
palindrome numbers is :{} 5
palindrome numbers is :{} 6
palindrome numbers is :{} 7
palindrome numbers is :{} 8
palindrome numbers is :{} 9
palindrome numbers is :{} 11
palindrome numbers is :{} 22
palindrome numbers is :{} 33
palindrome numbers is :{} 44
palindrome numbers is :{} 55
palindrome numbers is :{} 66
palindrome numbers is :{} 77
palindrome numbers is :{} 88
palindrome numbers is :{} 99

In [68]:
l=[2,3,4,5,6,7,8,9]
for i in l:
  if i%2==0:
    print("even numbers;",i)
  else:
    print("odd numbers:",i)

even numbers; 2
odd numbers: 3
even numbers; 4
odd numbers: 5
even numbers; 6
odd numbers: 7
even numbers; 8
odd numbers: 9

In [ ]:
country=["Finland","Germany","Sweden","Ireland","Turkey"]
list1=[]
for i in country:
    if('and' in i):
      list1.append(i)
print(list1)

['Finland', 'Ireland']

In [ ]:
a=50
b=80
c=50
avg=(a+b+c)/3
if(avg>=90):
  print("A+")
elif(avg>=80 and avg<90):
  print("A")
elif(avg>=70 and avg<80):
  print("B")
elif(avg>=60 and avg<70):
  print("C")
else:
  print("F")

C

In [ ]:
c=["Delhi","Telangana","Goa","Ap","Kerala"]
str1=" "
for i in c:
  str1+=i[0].lower()+i[-1].upper()
print(str1)

 dItAgAaPkA

In [ ]:
def  greet(name):
  print("hello "+name+ " good morning")
greet("saba")

hello saba good morning

In [71]:
#keyword
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))

7

In [ ]:
#positional keyword
def add(a,b,c):
  return a+b+c
print(add(a=10,b=20,c=30))
print(add(2,3,4))

60
9

In [ ]:
#arbitary keyword
def key_arg(**kargs):
  return kargs
my_dict=key_arg(apples=10,orange=20,mango=50)
print(my_dict)

{'apples': 10, 'orange': 20, 'mango': 50}

In [ ]:
#arbitary position
def add_num(*n):
  print(n)
  print(sum(n))
add_num(1,2,3,4,5)

(1, 2, 3, 4, 5)
15

In [ ]:
#higher order function
def shout(text):
  return text.upper()

def whisper(text):
  return text.lower()

def explain(func):
  greet=func("hi, iam higher order funnction")
  print(greet)
explain(shout)
explain(whisper)

HI, IAM HIGHER ORDER FUNNCTION
hi, iam higher order funnction

In [ ]:
#lambda
def incr(x):
  x=x+1
  return x
print(incr(4))

print((lambda x:x+1)(4))
res=lambda x:x+1
print(res(4))

5
5
5

In [ ]:
li=[1,2,3,4,5,6,7,8,9,10]
print(list(map(lambda x:x%2,li)))

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

In [75]:
def eor(num):
  if num%2==0:
    print("{} is evven".format(num))
  else:
    print("{} is odd".format(num))
eor(20)


list(map(eor,li))

20 is evven
1 is odd
2 is evven
3 is odd
4 is evven
5 is odd
6 is evven
7 is odd
8 is evven
9 is odd
10 is evven

[None, None, None, None, None, None, None, None, None, None]

In [ ]:
li=["apple","banana","grapes"]
print(list(map(lambda x:x.capitalize(),li)))

['Apple', 'Banana', 'Grapes']

In [80]:
#filter
def odd_num(n):
  if n%2!=0:
    return n%2
my_list=[9,26,35,-2,50]
print(list(filter(odd_num,my_list)))


my_list=[10,20,30,40,50,60,70,80,99,899,599]
temp=list(filter(lambda x:x%2==0,my_list))
print(temp)

[9, 35]
[10, 20, 30, 40, 50, 60, 70, 80]

In [81]:
#modules
import os
os.mkdir("hi")
os.getcwd()
os.listdir()

['.config', 'hi', 'sample_data']

In [85]:
#math module
import math as m
print(m.pi)
print(m.sqrt(25))
print(m.factorial(5))
print(m.floor(24.5))
print(m.ceil(24.5))
print(m.tan(4))
print(m.log(2))
print(m.pow(2,5))

3.141592653589793
5.0
120
24
25
1.1578212823495775
0.6931471805599453
32.0

In [86]:
#sys module
import sys as s
print(s.path)
print(s.version)
print(s.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [88]:
#statistic module
import statistics as s
print(s.mean([1,2,3]))
print(s.median([12,45,67]))
print(s.mode([1,2,3,1,1]))

2
45
1

In [89]:
# time module
import time
print(time.time())
print(time.localtime())

1655222853.5660923
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=16, tm_min=7, tm_sec=33, tm_wday=1, tm_yday=165, tm_isdst=0)

In [91]:
#random module
import random as r
print(r.randrange(1,100))
print(r.randint(1,100))
print(r.random())

73
17
0.8993159047983157

In [106]:
#guess game
import random
guess_num=random.randrange(1,5)
num=int(input("enter a number:"))
if(guess_num==num):
  print("you won !!")
else:
  print("you lost")

enter a number:3
you won !!

Write a python progrm that remove items that are multiples of 5 from list li=[1,2,,5,6,7,10,15,25,65,78,90]

In [110]:
li=[1,2,5,6,7,10,15,25,65,78,90]
l2=[]
for l in li:
  if l%5==0:
    l2.append(l)
print(l2)



li=[1,2,5,6,7,10,15,25,65,78,90]
l2=[]
for l in li:
  if l%5==0:
    l2.append(l)
    li.remove(l)

print(li)

[5, 10, 15, 25, 65, 90]
[1, 2, 6, 7, 15, 65, 78]